
/*NAV BAR*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    background-color:#533421;  
}

li{
    float:left;  
    text-align:center;
}

li a{
    display: inline-block;
    text-decoration: none;
    color:#fff; 
    padding: 10px;
    
} 

li:hover{
    background-color: #ccc;
}

li a:hover{
    color:#000;
}

.active{
    background-color: cadetblue;
}

@media screen and (max-width: 600px){
    ul.topnav li {
        float: none;
    }  
}

body{
    background-color: rgba(41,82,83,0.8); 
    text-align: center;
    color: #fff;
}

a{
    text-decoration: none;
    color: #8ceaec;
}

#map{
    width: 100%;
    height: 500px;
}


.fa{
    margin: 20px 5px;
    padding-bottom: 20px;
    font-size-adjust: 35px;
}